#body-saber{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: $color-fondo;
    #main-saber{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        #h2-saber{
            text-align: center;
            margin-bottom: 20px;
            #section-saber{
                display: grid;
                gap: 10px;
                label{
                    font-weight: bold;
                    input{
                        padding: 10px;
                        width: 100%;
                        box-sizing: border-box;
                        #enviar{
                            padding: 5px 10px;
                            background-color: #4CAF50;
                            color: white;
                            justify-self: center;
                            
  
                        }
                    }
                }
            }
        }
    }
}
